# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment folder
venv/
venv-eb/

# Ignore Node.js dependencies
node_modules/

# Ignore Flask instance folder (if it contains sensitive data)
instance/

# Ignore log files
*.log

# Ignore configuration files that may contain sensitive information
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
